html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
.leaflet-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 684px;
}
.fixedMap {
  position: fixed;
  top: 0;
}
.content{
  display: flex;
}
.sidebar{
  width: 400px;
}
.p-button {
  background-color: darkviolet !important;
  margin-right: 10px !important;
  border: none !important;
  &:hover {
    background-color: rgba(148, 0, 211, 0.79) !important;
  }
}
.p-inputgroup.search-input--margin {
  margin: 20px 10px !important;
  & input {
    width: 300px;
  }
}
.p-inputtext:enabled:focus {
  box-shadow: none !important;
  border-color: #212121 !important;
}

.p-paginator {
  background-color: transparent !important;
  border: none !important;
  margin: 15px !important;
  .p-highlight {
    background-color: #ebccf5 !important;
  }
  .p-link {
    height: 40px !important;
    font-size: 16px !important;
    padding: 5px 10px !important;
    line-height: 30px !important;
    color: darkviolet !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  .p-dropdown {
    background-color: transparent !important;
    height: 40px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 0 !important;
    outline: none !important;
    &:hover {
      background-color: #e0e0e0 !important;
    }
    .p-dropdown-trigger {
      color: darkviolet !important;
      background-color: transparent !important;

    }
    .p-dropdown-item {
      color: darkviolet !important;
    }
    .p-dropdown-panel {
      box-shadow: none !important;

    }
    .p-inputtext {
    line-height: 20px !important;
    font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
      font-size: 16px !important;
      color: darkviolet !important;
      background-color: transparent !important;

    }
    &:not(.p-disabled).p-focus {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
    .p-input-overlay {
      box-shadow: none !important;
    }
    .p-focus {
      box-shadow: none !important;
    }
  }
}

.p-checkbox {
  box-shadow: none !important;
  border-color: #e0e0e0 !important;
  .p-focus {
    box-shadow: none !important;
    border-color: black !important;
  }
  &:hover {
    border-color: black !important;
  }
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #e0e0e0 !important;
  background-color: white !important;
  color: darkviolet !important;
}

.p-growl.p-growl-topright {
  width: 400px !important;
  top: 70px !important;
  z-index: 1000 !important;
}

.lot_image{
  margin-top: 10px;
}

hr {
  background-color: #ba05ba !important;
  margin: 10px 0 10px 0;
}
