.cardHeader {
  color: black;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.cardWrapper{
  box-sizing: border-box;
  display: inline-block;
  min-width: 395px;
  padding: 3px;
  border: 1px #ccc solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  margin: 0px 5px 5px 0px;
}

.cardIMGStyle{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: gray;
  vertical-align: baseline;
}

.itemInfoWrapper{
  display: inline-block;
  width: 74%;
  min-height: 100px;
  margin: 0;
  padding-left: 5px;
  vertical-align: top;
  position: relative;
}

.ifoContentAlign{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100px;
}

.infoStr{
  margin: 0px 0px 5px;
  color: gray;
}

.addressWrapper{
  display: inline-block;
  max-width: 100px;
  margin-right: 5px;
}

.priceItem{
  color: purple;
  margin: 0px 5px 0px 0px;
}

.locationIcon{
  display: inline-block;
  height: 25px;
  width: 22px;
  background-image: url("./pin_svg/geo_pin.svg");
  background-size: cover;
  color: purple;
  margin-right: 5px;
}

.cardFooter{
  position: relative;
  bottom: 0;
}

.cardButton{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}