.CardHeader {
  color: black;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.CardWrapper{
  box-sizing: border-box;
  display: inline-block;

  min-width: 395px;
  padding: 3px;
  border: 1px #ccc solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  margin: 0px 5px 5px 0px;
}

.CardIMGStyle{
  display: inline-block;
  height: 100px;
  width: 100px;
  
  background-color: gray;
  vertical-align: baseline;
}

.ItemInfoWrapper{
  display: inline-block;
  width: 70%;
  margin: 0;
  padding-left: 5px;
  vertical-align: top;
}
.InfoStr{
  margin: 0px 0px 5px;
  color: gray;
}

.AdressWrapper{
  display: inline-block;
  max-width: 100px;
  margin-right: 5px;
}

.PriceItem{
  color: purple;
  margin: 0px 5px 0px 0px;
}

.LocatIcon{
  display: inline-block;
  height: 25px;
  width: 22px;
  background-image: url("./pin_svg/geo_pin.svg");
  background-size: cover;

  color: purple;
  // background-color: gray;
  margin-right: 5px;
}
