.nav {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 64px;
  background: #ba05ba;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.navList {
  margin-left: auto;
  margin-top: 16px;
}

.logo {
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 15px;
  &:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 5px 10px rgb(235, 229, 229), 0px 0px 10px  rgb(235, 229, 229), -2px -2px 5px  rgb(235, 229, 229);
  }
}

.logoIcon{
  display: inline-block;
  height: 30px;
  width: 24px;
  background-image: url("./images/map-marker-alt-solid.svg");
  background-size: cover;
  color: white;
  margin-right: 5px;
}

.logoIcon:hover{
  background-position-y: 5px;
  height: 25px;
}

.navItem {
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin:  0px 12px;

  &:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0px 7px rgb(235, 229, 229),-1px -2px 3px rgb(235, 229, 229), 2px 2px 5px rgb(235, 229, 229)
  }
}
