.ProfilePageWrapper{
  box-sizing: border-box;
}



.SubHeaderWrapper{
  display: block;
  position: relative;
}

.SubHeaderH3{
  display: inline-block;
}

.BtnWrapper{
  position: absolute;
  right: 0px;
}


.Wrapper{
  display: block;
}

.ProfilePageSideBar{
  display: inline-block;
  width: 22%;
  border: solid 1px gray;
}

.PersonalInfoWrapper{
  display: inline-block;
  margin: 5px;

  width: 90%;

  border: solid 1px gray;
}
.PersonalInfoWrapper img{
  width: 50%;
}



.ProfileInputWrapper{
  display: inline-block;
  width: 78%;
  padding: 10px;
}