.lotsListContainer {
  padding: 12px;
  box-sizing: border-box;
}

.CardHeader {
  color: black;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.CardWrapper{
  display: flex;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 12px;
}

.CardIMGStyle{
  flex: 1;
  background-color: gray;
  &>img {
    width: 100%
  }
}

.ItemInfoWrapper{
  flex: 2;
  height: 100%;
  margin: 0;
  padding-left: 5px;
  position: relative;
}

.IfoContentAlign{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100px;
}

.InfoStr{
  margin: 0px 0px 5px;
  color: gray;
}

.AdressWrapper{
  display: inline-block;
  max-width: 100px;
  margin-right: 5px;
}

.PriceItem{
  color: purple;
  margin: 0px 5px 0px 0px;
}

.LocatIcon{
  display: inline-block;
  height: 25px;
  width: 22px;
  background-image: url("./images/geo_pin.svg");
  background-size: cover;
  color: purple;
  margin-right: 5px;
}

.CardFooter{
  position: relative;
  bottom: 0;
}

.CardButton{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}
