.home-page {

  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
.homePageLeft {
  width: 40%;
}
.homePageRight {
  position: relative;
  width: 60%;
}
