button {
  padding: 10px;
  border: none;
  margin: 0 5px;
  // background-color: white;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: black;
  color: rgb(117, 206, 44);
}

.active {
  background-color: purple;
  color: white;
  border-radius: 10px;
}
