.registrationPage {
  display: flex;
  box-shadow: 1px 1px 3px rgba(black, 0.5);
  .registrationPageLeft{
    flex: 0 1 60%;
  }
  .registrationPageRight{
    flex: 0 1 40%;
    background-color: #ebccf5;
    padding: 20px 30px;
  }
}
