.forgotPage {
    display: flex;
    text-align: center;
    white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    &_left{
      flex: 0 1 50%;
      padding: 40px;
    }
    &_right{
      flex: 0 1 50%;
      background-color: #ebccf5;
    //   padding: 60px;
    //   margin: 100px;
      min-width: 200px;
    //   text-align: left;
      white-space: normal;
      color: #000;
      &_but{
        flex: 0 1 50%;
        text-align: center;
        padding: 5px;
        margin: 200px;
        background-color: #abccf5;
        // height: 25px;
        // width: 100px;
        // margin: percent(50);
      }
    }
}
